<article class="dashboard-body-container">
  <section class="dashboard-body-left">
    <app-dashboard-menu-list></app-dashboard-menu-list>
  </section>
  <section class="dashboard-body-right">
    <router-outlet></router-outlet>
  </section>
</article>
