<article class="prime-ng-container">
  <span class="prime-ng-item" routerLinkActive="prime-ng-item-active"
        (click)="navigate(power.id)" *ngFor="let power of powers">{{power.name}}</span>
</article>
<router-outlet></router-outlet>
